.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #597ad4;  
    transition: background-color 0.5s ease;
    color: #FFFFFF; 
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: Arial, sans-serif;
}

.navbar h1 {
    margin: 0; /* Removed margin */
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: bounceIn 2s;
    transition: color 0.5s ease;
}

@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

.navbar:hover {
    background-color: #264186;
}

.navbar h1:hover {
    color: #FFF;
}

@media (max-width: 768px) {
    .navbar {
        height: 15px;
        justify-content: flex-start; /* Changed to flex-start to align items to the left */
    }

    .navbar h1 {
        padding: 1px;
    }
}
